POSTGRES_DB=content_writing
POSTGRES_USER=content_writer
POSTGRES_PASSWORD=__GENERATE_32_BYTES__
BACKUP_ENCRYPTION_KEY=__GENERATE_64_BYTES__
HOT_TOPIC_PROVIDER_URL=http://dailyhot-api:6688
SEARCH_PROVIDER_URL=http://searxng:8080
MODEL_ENCRYPTION_KEY=__GENERATE_64_BYTES__
SEARXNG_SECRET=__GENERATE_LOCAL_SECRET__
